<br>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-outline-primary" routerLink="/passer-commande">Nouvelle comande</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Date</th>
      <th scope="col">Montant total</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let commande of commandes">
      <th scope="row">{{commande.numero}}</th>
      <td>{{commande.date}}</td>
      <td>{{commande.prixTotal}}</td>
      <td>
        <ul *ngIf="commande.carnets && commande.carnets.length > 0"class="list-group">
          <li *ngFor="let c of commande.carnets" class="list-group-item">{{c.produit.code}} ({{c.qte}} article(s)) : montant {{c.prixTotal}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
